@page
@model Blogmenia.Pages.AboutModel
@{
}

<div class="container pt-5 pb-5 aos-init aos-animate" data-aos="fade-up">
    <div class="row justify-content-center">



        <div class="col-md-10 blogcontent">

            <h1>About</h1>
            <p>Myself <strong><em>Satinder Singh</em></strong> lives in Bombay. I love this city and it’s my home. I am atypical polyglot programmer. I have more than 5 years of experience in Microsoft.NET technologies.</p>
            <p>I had completed my Bsc in computer science (Mumbai University) and Asp.net Course from Aptech. I started my career working on creating Web Application with&nbsp; ASP.NET 2.0 and now exploring ASP.NET 4.5, ASP.NET MVC, and&nbsp; ANGULARJS</p>
            <p>I love blogging technical stuff on <strong><a href="https://codepedia.info/" target="_blank">my Blog</a></strong>, it’s just my passion or free time activities. I write about my experiences on application development with ASP.NET, C#, Visual Studio, jQuery, AngularJS, Nodejs, SQL Server, WebSvc’s and other technologies. Also an Active member on<strong><a href="https://stackoverflow.com/users/1192188/satinder-singh?tab=profile" target="_blank">StackOverflow</a></strong>.</p>
            <p>Please feel free to contact me for any queries via posting comments on my blog. I try by best to reply it as soon as possible. You can also contact me on twitter at <strong><a href="https://twitter.com/satindersinght" target="_blank">@@satindersinght</a></strong>. I am not tweeting regularly but will surely get back to you if you are going to contact me. If you wish to contact me via LinkedIn then you can contact me here.</p>
            <p>I have a passion for creating, solving, and deploying software applications. I have a great passion for learning new things.</p>
            <blockquote class="td_pull_quote td_pull_center"><p><strong>FOREACH ( MINUTE IN MYLIFE ) { MYEXPERIENCE++ ; }</strong></p></blockquote>
            <p>
                <a href="https://stackoverflow.com/users/1192188/satinder-singh?tab=profile">

                    <img class="alignleft img-fluid" title="profile for Satinder singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" src="https://stackoverflow.com/users/flair/1192188.png" alt="profile for Satinder singh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" width="208" height="58">
                </a>
            </p>
            <h2></h2>
            <h2>Achievements:</h2>
            <p>My article got selected as<strong> <a href="https://www.asp.net/community/articles" target="_blank">Article of the day</a></strong> in Microsoft ASP.NET community. Thanks to all the Microsoft ASP.NET Community members.</p>
            <ul>
                <li><strong>19-Feb-2016 :: <a href="https://codepedia.info/using-dropzone-js-file-image-upload-in-asp-net-webform-c/" target="_blank">Asp.net C# + Dropzone js : Easy way to upload images [Drag &amp; Drop feature]</a></strong></li>
                <li><strong>22-Nov-2015::&nbsp;<a href="https://codepedia.info/chartistjs-create-responsive-chart-in-asp-net-pie-chart-donut-chart/" target="_blank">Create Responsive Charts in Asp.net C# using Chartist-Js [ Pie Chart, Donut Chart]</a></strong></li>
                <li><strong>25-Sep-2015::&nbsp;<a href="https://codepedia.info/google-org-chart-asp-net-organization-chart-with-database-ms-sql-server/" target="_blank">Google org chart + Asp.net C#: Create simple organization chart with database [ MS SQL Server]&nbsp;</a></strong></li>
            </ul>
            <p>&nbsp;</p>
            <p>
                <img class="aligncenter size-full wp-image-3653 img-fluid"
                     style="border: 2px solid #ccc;" src="~/mediaUpload/images/article-of-the-day.jpg"
                     alt="Google Ord chart+ Asp.net get selected as Article of the day - Asp.net" />
            </p>


        </div>

        <div class="col-md-2">

        </div>

    </div>
    <script>
        var el = document.getElementById("menuBar");
        el.classList.remove("fixed-top");
    </script>
</div>