@page
@model Blogmenia.Pages.NotFoundModel
@{
}

<div class="container pt-5 pb-5" >
    <div class="row justify-content-center">
        <div class="col-md-10  blogcontent">
            <h1 class="text-danger">Error 404 Not Found </h1>
            <br />
            <p>
                The page that you requested does not exist on this site. If it ever existed, it may have been removed or renamed.
                However, the chances are that the link you followed contains errors.
                <br /><br />
                Please check same from visiting our <a class="text-danger" asp-page="/Index" asp-route-pst_slug="" asp-area="">Homepage</a>
            </p>

        </div>
    </div>
</div>