@page
@model PrivacyModel
 
    <div class="container pt-5 pb-5 aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center">

            

            <div class="col-md-10  blogcontent">

                <h1>Privacy policy</h1>
                <br />

                <p><strong>Codepedia.info</strong> makes sure that the privacy of all its registered users is secured. Whatever information gathered to identify the user to get its personal information and location is stored under the following security guidelines. This Privacy Policy covers treatment of personal information that codepedia.info gathers when you are on the website. This policy does not apply to the practices of third parties that codepedia.info does not own or control, or to individuals that codepedia.info does not employ or manage. The Privacy Policy of this website will be updated from time to time and hence please read this page in order to keep you updated with the changes.</p>
                <p>Codepedia.info is founded on the principle of helping people having the main focus on programming tutorial, sharing programming tips. We know that you care about how your personal information is used and shared, and we take your privacy very seriously. By visiting the Codepedia.info website, you are accepting the practices outlined in this policy.</p>
                <p>We collect your name, email id, and IP-address when you post comments. &nbsp;Your personal and contact details are used to identify you and contact you by sending alerts whenever some activity is performed on the website. We do not sell, lease or distribute your personal information to any other company or organization unless it is permitted by you and/or it is required by the government agencies.</p>
                <p>Codepedia.info is a free blog regarding software programming and web development. You may choose to use the works in your projects at your own risk and nor Codepedia.info or its users are not responsible if it does not work as intended.The content is copyrighted to Satinder Singh, and may not be reproduced on other websites / blog without permission from the owner.</p>
                <h2>Cookies:</h2>
                <p>When you visit this site, cookies will be placed on your machine for tracking visitor activity anonymously; targeting advertisements by interest, and remembering user preferences.</p>
                <p>We set a cookie to remember that you don’t want to see the banner at the top of the page that warns you about cookies on this site. If you click the “That’s fine” button, you will not see this banner on future visits* and you will opt in to having a cookie placed on your machine by me.</p>
                <p>This site makes use of some third party services who also store cookies (Third party cookies) on your machine. These services are</p>
                <ul>
                    <li><a title="Google Analytics" href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener noreferrer">Google Analytics</a></li>
                    <li><a title="Google Adsense" href="https://www.google.com/settings/ads/" target="_blank" rel="noopener noreferrer">Google Adsense</a></li>
                </ul>
                <blockquote class="td_quote_box td_box_center"><p>Note: cookies are browser-specific. If you visit using a different browser or on another machine, you may see the banner again.</p></blockquote>
            </div>

            <div class="col-md-2">

            </div>

        </div>
        <script>
            var el = document.getElementById("menuBar");
            el.classList.remove("fixed-top");
        </script>
    </div>