@page
@model Blogmenia.Areas.Admin.Pages.Editor.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div id="dvHolder" class="container-fluid p-0">
    <div class="row mb-2">
        <div class="col-md-10">
            <h3 class="h3 mb-3"> Demo List </h3>
        </div>
        <div class="col-md-2">
            <a asp-page="./Upsert" class="btn btn-dark" style="float:right;">Add New Demo</a>
        </div>

    </div>

    <div class="row">
        <div class="col ibg_white">
            <div class="col-12   p-3 table-responsive" style="min-height:500px">

                <table id="DT_load" class="table table-striped table-bordered table-hover" style=" width:100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th> Srno</th>
                            <th>  Slug</th>
                            <th>Content</th>                          

                            <th style="width:180px;" class="text-center"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>


    </div>
    @Html.AntiForgeryToken()
</div>
@section Scripts{


    <script src="~/lib/datatable/jquery.dataTables.min.js"></script>
    @*<script src="~/lib/datatable/dataTables.bootstrap.min.js"></script>*@
    @*<link href="~/lib/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/demoList.js"></script>
}

